.container {
  height: 70px;
  background-color: #000;
  color: #fff;
}

.wrapper {
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-weight: bold;
  font-size: 36px;
}

.user {
  display: flex;
  align-items: center;
}

.username {
  font-weight: bold;
  font-size: 20px;
  padding-right: 15px;
}

@media screen and (max-width: 456px) {
  .logo h2 {
    font-weight: bold;
    font-size: 30px;
  }

  .username {
    font-weight: bold;
    font-size: 16px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 375px) {
  .logo h2 {
    font-size: 24px;
  }
}
